@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
  color: #0f172a;
  background-color: #ffffff;
}

@layer utilities {
  .hero-grid {
    background-image: radial-gradient(circle, #cbd5e1 1px, transparent 1px);
    background-size: 32px 32px;
  }
}
